openapi: 3.0.0
info:
  title: Perenual Plant API
  description: API for accessing plant species data, care guides, disease information, and more
  version: 1.0.0
  contact:
    url: https://perenual.com/contact
servers:
  - url: https://perenual.com/api
    description: Production server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
    PlantImage:
      type: object
      properties:
        image_id:
          type: integer
        license:
          type: integer
        license_name:
          type: string
        license_url:
          type: string
        original_url:
          type: string
        regular_url:
          type: string
        medium_url:
          type: string
        small_url:
          type: string
        thumbnail:
          type: string
    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
        per_page:
          type: integer
        current_page:
          type: integer
        last_page:
          type: integer
        from:
          type: integer
        to:
          type: integer

paths:
  /species-list:
    get:
      summary: Get list of plant species
      security:
        - ApiKeyAuth: []
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: q
          in: query
          description: Search query
          schema:
            type: string
        - name: order
          in: query
          description: Sort order for species common name
          schema:
            type: string
            enum: [asc, desc]
        - name: edible
          in: query
          description: Filter by edible plants
          schema:
            type: boolean
        - name: poisonous
          in: query
          description: Filter by poisonous plants
          schema:
            type: boolean
        - name: cycle
          in: query
          description: Filter by plant cycle
          schema:
            type: string
            enum: [perennial, annual, biennial, biannual]
        - name: watering
          in: query
          description: Filter by watering needs
          schema:
            type: string
            enum: [frequent, average, minimum, none]
        - name: sunlight
          in: query
          description: Filter by sunlight needs
          schema:
            type: string
            enum: [full_shade, part_shade, sun-part_shade, full_sun]
        - name: indoor
          in: query
          description: Filter by indoor plants
          schema:
            type: boolean
        - name: hardiness
          in: query
          description: Filter by hardiness zone (1-13)
          schema:
            type: string
            pattern: ^\d{1,2}-\d{1,2}$
      responses:
        '200':
          description: List of plant species
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            common_name:
                              type: string
                            scientific_name:
                              type: array
                              items:
                                type: string
                            other_name:
                              type: array
                              items:
                                type: string
                              nullable: true
                            cycle:
                              type: string
                            watering:
                              type: string
                            sunlight:
                              type: array
                              items:
                                type: string
                            default_image:
                              $ref: '#/components/schemas/PlantImage'

  /species/details/{id}:
    get:
      summary: Get detailed information about a specific plant species
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Plant species ID
          schema:
            type: integer
      responses:
        '200':
          description: Detailed plant species information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  common_name:
                    type: string
                  scientific_name:
                    type: array
                    items:
                      type: string
                  other_name:
                    type: array
                    items:
                      type: string
                  family:
                    type: string
                  origin:
                    type: array
                    items:
                      type: string
                    nullable: true
                  type:
                    type: string
                  dimensions:
                    type: object
                    properties:
                      type:
                        type: string
                        nullable: true
                      min_value:
                        type: number
                      max_value:
                        type: number
                      unit:
                        type: string
                  cycle:
                    type: string
                  watering:
                    type: string
                  depth_water_requirement:
                    type: object
                    properties:
                      unit:
                        type: string
                      value:
                        type: string
                  volume_water_requirement:
                    type: object
                    properties:
                      unit:
                        type: string
                      value:
                        type: string
                  watering_period:
                    type: string
                  watering_general_benchmark:
                    type: object
                    properties:
                      value:
                        type: string
                      unit:
                        type: string
                  plant_anatomy:
                    type: array
                    items:
                      type: object
                  sunlight:
                    type: array
                    items:
                      type: string
                  pruning_month:
                    type: array
                    items:
                      type: string
                  pruning_count:
                    type: object
                    properties:
                      amount:
                        type: integer
                      interval:
                        type: string
                  hardiness:
                    type: object
                    properties:
                      min:
                        type: string
                      max:
                        type: string
                  hardiness_location:
                    type: object
                    properties:
                      full_url:
                        type: string
                      full_iframe:
                        type: string
                  care_level:
                    type: string
                  description:
                    type: string
                  default_image:
                    $ref: '#/components/schemas/PlantImage'

  /pest-disease-list:
    get:
      summary: Get list of plant pests and diseases
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: query
          description: Disease ID
          schema:
            type: integer
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: q
          in: query
          description: Search query
          schema:
            type: string
      responses:
        '200':
          description: List of plant pests and diseases
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            common_name:
                              type: string
                            scientific_name:
                              type: string
                            other_name:
                              type: array
                              items:
                                type: string
                            family:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            solution:
                              type: string
                              nullable: true
                            host:
                              type: array
                              items:
                                type: string
                            images:
                              type: array
                              items:
                                $ref: '#/components/schemas/PlantImage'

  /species-care-guide-list:
    get:
      summary: Get plant care guides
      security:
        - ApiKeyAuth: []
      parameters:
        - name: species_id
          in: query
          description: Plant species ID
          schema:
            type: integer
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: q
          in: query
          description: Search query
          schema:
            type: string
        - name: type
          in: query
          description: Guide type filter
          schema:
            type: string
      responses:
        '200':
          description: List of care guides
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            species_id:
                              type: integer
                            common_name:
                              type: string
                            scientific_name:
                              type: array
                              items:
                                type: string
                            section:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  type:
                                    type: string
                                  description:
                                    type: string

  /hardiness-map:
    get:
      summary: Get plant hardiness zone map
      security:
        - ApiKeyAuth: []
      parameters:
        - name: species_id
          in: query
          required: true
          description: Plant species ID
          schema:
            type: integer
      responses:
        '200':
          description: Hardiness zone map image
          content:
            image/*:
              schema:
                type: string
                format: binary

  /article-faq-list:
    get:
      summary: Get plant-related FAQs
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: query
          description: FAQ article ID
          schema:
            type: integer
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: q
          in: query
          description: Search query
          schema:
            type: string
      responses:
        '200':
          description: List of FAQ articles
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationMeta'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          question:
                            type: string
                          answer:
                            type: string
                          tags:
                            type: array
                            items:
                              type: string
                          default_image:
                            $ref: '#/components/schemas/PlantImage'

security:
  - ApiKeyAuth: []
